import logging
from traceback import format_exc

from adapter.data_processing.template_parser import TemplateParser
from adapter.event.http_event import HttpEvent
from configuration.logger import initialize_logging_session, set_context, reset_logging_context
{% for port in ports if port in adapter_class_map %}
from {{ module }}.adapter.{{ adapter_class_map[port].file }} import {{ adapter_class_map[port].cls }}
{% endfor %}
from {{ module }}.configuration import FUNCTION_NAME, HttpEventConfig, ResponderConfig{% for port in ports if port in config_class_map and port != 'responder' %}, {{ config_class_map[port] }}{% endfor %}

from {{ module }}.domain.service import Service

initialize_logging_session(service_name=FUNCTION_NAME)

parser = TemplateParser()
{% for port in ports if port in adapter_class_map %}
{% if port in adapter_needs_parser %}
{{ port }} = {{ adapter_class_map[port].cls }}(config={{ config_class_map[port] }}(), template_parser=parser)
{% else %}
{{ port }} = {{ adapter_class_map[port].cls }}(config={{ config_class_map[port] }}())
{% endif %}
{% endfor %}
http_event = HttpEvent(config=HttpEventConfig().as_dict, template_parser=parser)
{% if 'responder' in ports %}
responder = HttpResponderAdapter(config=ResponderConfig())
{% endif %}
service = Service({% for port in ports if port in adapter_class_map %}{{ port }}={{ port }}{% if not loop.last %}, {% endif %}{% endfor %})


def lambda_handler(event: dict, _context):
    logging.debug(f'Event received: {event}')
    dto = {}
    try:
        dto = http_event.as_dto(event=event)
        set_context(dto=dto)
        return service.process(dto=dto)
    except Exception as ex:
        logging.error(f'Failed due to Exception: {ex} with Traceback: {format_exc()}')
        return responder.server_error(dto=dto)
    finally:
        reset_logging_context()
